@keyframes wmt {
  from {	background-position-x: 00000000000px;	}
  to   {	background-position-x: 31536000000px; }
}

@mixin theme-background {
	background-image: linear-gradient(19deg, 
		#21D4FD 0%,
		#B721FF 100%);
}

@mixin center-x($pos: relative, $trans: scale(1)) {
	position: $pos;
	left: 50%;
	transform: translateX(-50%) $trans;
}

@mixin center-y($pos: relative, $trans: scale(1)) {
	position: $pos;
	top: 50%;
	transform: translateY(-50%) $trans;
}

@mixin center($pos: relative, $trans: scale(1)) {
	position: $pos;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) $trans;
}

#app-home {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: #fafafa;
}

#app-home	#curve {
	@include center-x(absolute);

	width: 180vw;
	height: 160vh;
	
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	
	bottom: 15vh;
	overflow: hidden;

	#curve-contents {
		@include theme-background;
		@include center-x(absolute);

		width: 100vw;
		height: 85vh;
		bottom: 0;
	}
}

#app-home #world-map {
	@include center-y(absolute);
	
	min-height: calc(100% - 15vw);
	padding-bottom: 15%;
	width: 100%;

	background: {
		image: url('../../../assets/images/world-map.svg');
		size: cover;
		position-y: center;
	}

	animation: {
		name: wmt;
		timing-function: linear;
		iteration-count: infinite;
		duration: 1892160000s;
	}
}

#app-home #direct-search {
	@include center(absolute);

	background-color: white;
	width: 90%;
	max-width: 100vh;
	border-radius: 5px;
	padding: 24px 32px;
	box-sizing: border-box;
	box-shadow: 0px 0px 16px 2px rgba(0,0,0,0.1);

	#direct-search-container {
		display: flex;
		align-items: center;
	}

	#direct-search-container-1 {
		align-self: stretch;
		flex-grow: 1;
		margin-right: 32px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	#direct-search-container-2 {
		display: flex;
		flex-direction: column;
		padding-top: 8px;
		align-items: flex-start;

		.MuiFormGroup-root {
			flex-wrap: nowrap;
		}

		.MuiFormControlLabel-root {
			min-width: 120px;
			padding: 0 15px;
		}

		.MuiFormControlLabel-label {
			color: #3C4043;
			white-space: nowrap;
		}

		.MuiRadio-colorPrimary {
			color: #3C4043;
			
		}
	}

	#direct-search-dps {
		display: flex;
		flex-direction: column;

		.date-picker {
			width: 100%;
		}

		#direct-search-dps-container-1 {
			margin-bottom: 10px;
		}
	}

	#direct-search-button {
		@include center-x(absolute);
		@include theme-background;
	
		color: white;
		bottom: 0;
		padding: 10px 70px;
		border-radius: 1000px;
		transform: translate(-50%, 50%);
	
		&:hover {
			box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
		}
	}
	
	.vertical-line {
		width: 100%;
		height: 1px;
		background-color: gray;
		margin: 4px 0;
	}
}