@mixin center-x($pos: relative, $trans: scale(1)) {
	position: $pos;
	left: 50%;
	transform: translateX(-50%) $trans;
}

@mixin center-y($pos: relative, $trans: scale(1)) {
	position: $pos;
	top: 50%;
	transform: translateY(-50%) $trans;
}

@mixin center($pos: relative, $trans: scale(1)) {
	position: $pos;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) $trans;
}