$black: #3C4043;

#app-root .airport-picker .airport-search-result {
	color: $black;

	.left-shift {
		margin-left: 32px;
	}

	.airport-search-result-title {
		display: inline-block;
		margin-right: 8px;
	}

	.airport-search-result-iata {
		
		display: inline-block;
		color: gray;
	}
	
	.airport-search-result-caption {
		display: block;
		color: gray;
	}

	.MuiListItemIcon-root	{
		min-width: 24px;
		margin-right: 8px;
	}
}

#app-root .airport-picker .airport-search-input {
	
	margin-bottom: 0;

	label { 
		color: darkgray;
	}

	.MuiOutlinedInput-root {

		.MuiOutlinedInput-input {
			color: gray;
			margin-left: 2px;
			font-size: 16px;
		}

		fieldset {
			border-color: darkgray;
		}

		&:hover fieldset {
			border-color: 'lightgray';
		}

		&.Mui-focused fieldset {
			border-color: rgba(0, 0, 0, 0);
			box-shadow: 0px 18px 16px 2px rgba(0,0,0,0.1);
		}
	}
}

#app-root .airport-picker {
	
	.react-autosuggest__container {
		position: relative;
	}

	.react-autosuggest__suggestions-container {
		position: absolute;
		width: 100%;
		left: 0;
		z-index: 10;
		max-height: 30vh;
		overflow-y: auto;
	}

	.react-autosuggest__suggestions-container--open {
		background-color: white;
		transform: translateY(-3px);
		
		&::before {
			content: "";
			background-color: lightgray;
			display: block;
			height: 1px;
			position: absolute;
			top: -1px;
			left: 0;
			width: 100%;
		}

		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;

		box-shadow: 0px 18px 16px 2px rgba(0,0,0,0.1);
	}

	.react-autosuggest__suggestions-list {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.react-autosuggest__suggestion {
		cursor: pointer;
	} 
}

#app-root .airport-picker .airport-selected-container {
	margin-top: 8px;
	display: flex;
	align-items: center;

	.airport-selected-icon {
		margin-left: 14px;
	}

	.airport-selected-caption {
		color: $black;
		font-weight: 500;
		transform: translateY(2px);
		margin-left: 8px;
	}
}