$black: #3C4043;
$color-seat-primary: rgb(11, 179, 39);
$color-seat-secondary: rgb(23, 115, 201);

@mixin center-x($pos: relative, $trans: scale(1)) {
	position: $pos;
	left: 50%;
	transform: translateX(-50%) $trans;
}

@mixin center-y($pos: relative, $trans: scale(1)) {
	position: $pos;
	top: 50%;
	transform: translateY(-50%) $trans;
}

@mixin center($pos: relative, $trans: scale(1)) {
	position: $pos;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) $trans;
}

#app-root .search-result {

	min-width: 925px;
	width: 1000px;
	box-shadow: 0px 0px 16px 2px rgba(0,0,0,0.1);

	margin-bottom: 32px;

	.seat-primary {
		color: $color-seat-primary;
	}

	.seat-secondary {
		color: $color-seat-secondary;
	}

	.data-set {
		display: flex;
		width: 100%;
		position: relative;

		& > * {
			display: flex;
			flex-grow: 1;
			box-sizing: border-box;
			flex-direction: column;
			justify-content: center;

			& > *:first-child {
				//background-color: pink;
				justify-content: flex-end;
				margin: auto 0;
			}
		}

		.MuiTypography-overline {
			display: block;
			color: gray;
			line-height: 1.5;
		}

		.data-set-4 {
			width: 17.5%;
			max-width: 17.5%;
		}

		.data-set-5 {
			width: 17.5%;
			max-width: 17.5%;
		}

		.search-result-price {
			color: $color-seat-primary;
			font-weight: 500;
			font-size: 14pt;

			&.secondary {
				color: $color-seat-secondary;
			}
		}
	}

	.MuiExpansionPanelDetails-root {
		display: block;
		position: relative;
		padding: 16px 0;
		padding-top: 0;
	}

	.search-result-book-container {

		position: relative;
		left: 100%;
		transform: translateX(-100%);
		display: inline-block;
		
		width: calc((100% - 84px)*0.35);
		padding-right: 60px;
		display: flex;

		.search-result-book {
			width: 50%;
		}

		&:first-child  {

		}

		& .search-result-book:last-child .search-result-book-button {
			transform: translateX(-8px);
		}
		

		.search-result-book-button {
			transform: translateX(-8px);
			//width: 100%;

			.MuiButton-label {
				line-height: 1.5;
			}

			&.primary {
				color: $color-seat-primary;
			}

			&.secondary {
				color: $color-seat-secondary;
			}
		}
	}

	.search-result-stops .stop-info:last-child {
		border-bottom: solid lightgray 1px;
		margin-bottom: 16px;
	}

	.stop-info {

		padding-bottom: 16px;

		.stop-info-flight {
			display: flex;

			.stop-info-flight-left {
				flex-grow: 1;
			}

			.stop-info-flight-right {
				width: calc((100% - 84px)*0.35);
				//background-color: pink;
				margin-right: 60px;
				display: flex;
				//height: 50px;
				

				.price-container {
					width: 50%;
					display: flex;
					flex-direction: column;
					justify-content: center;

					.MuiTypography-overline {
						display: block;
						color: gray;
						line-height: 1.5;
					}

					.price {
						font-weight: 500;
						font-size: 14pt;
					}
				}
			}
		}

		.stop-info-duration {
			color: darkgray;
		}
	}

	.MuiCollapse-container::before {
		content: " ";
		background-color: lightgray;
		width: 100%;
		display: block;
		height: 1px;
	}

	.airport-details-icon-container {
		
	}

	.layover-details-container {

		margin-bottom: 16px;

		position: relative;
		box-sizing: border-box;

		&::before {
			content: " ";
			background-color: lightgray;
			width: 100%;
			display: block;
			height: 1px;
			top: 0;
			left: 0;
		}

		&::after {
			content: " ";
			background-color: lightgray;
			width: 100%;
			display: block;
			height: 1px;
		}

		.layover-details {
			margin: 16px 20px;
			display: block;
			color: darkgray;
			margin-left: 36px;
		}
	}

	.airport-details {
		display: flex;
		padding: 0px 20px;
		
		.airport-details-icon-container {
			margin-right: 24px;
		}

		.airport-details-icon {
			@include center();
		}
	}

	.airport-details-info {
		flex-grow: 1;
		display: flex;
		align-items: center;
		
		.airport-details-time {
			position: relative;
			margin-right: 20px;

			&::after {
				content: '·';
				position: absolute;
				left: 100%;
				width: 20px;
				height: 32px;
				top: calc(50% - 16px);
				text-align: center;
			}
		}
	}

	.airport-details-name-iata {
		* {
			display: inline;
			line-height: 1.5;
		}

		display: flex; 
		align-items: center;
		transform: translateY(1px);

		.airport-details-name {
			
		}

		.airport-details-iata {
			margin-left: 8px;
			color: gray;
		}
	}

	.flight-type-container::before {
		display: none;
	}

	.flight-type {
		margin: 16px 0 16px 20px;
	}
}
