$black: #3C4043;

body {
	background-color: $black;
}

@mixin theme-background {
	background-image: linear-gradient(19deg, 
		#21D4FD 0%,
		#B721FF 100%);
}

@mixin center-x($pos: relative, $trans: scale(1)) {
	position: $pos;
	left: 50%;
	transform: translateX(-50%) $trans;
}

@mixin center-y($pos: relative, $trans: scale(1)) {
	position: $pos;
	top: 50%;
	transform: translateY(-50%) $trans;
}

@mixin center($pos: relative, $trans: scale(1)) {
	position: $pos;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) $trans;
}

#app-search #search-tab {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 64px;
	background-color: white;

	z-index: 5;

	// selects
	#search-tab-selects {
		
		display: flex;
		padding-top: 16px;
		margin-left: 32px;

		//mui select 
		.MuiSelect-root {
			
			position: relative;
			overflow: visible;
			padding-left: 8px;
			padding-right: 32px;
			background-color: white;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
			transition: background-color 0.2s;
			
			&:hover {
				background-color: rgb(240, 240, 240);
				
				&::after {
					background-color: rgb(240, 240, 240);
				}
			}
			
			&::after {
				content: " ";
				position: absolute;
				top: 0;
				left: 100%;
				width: 8px;
				height: 100%;
				background-color: white;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				transition: background-color 0.2s;
			}
		}

		.MuiInput-underline {
			padding-right: 8px;
			font-weight: 500;
			text-decoration: none;
			margin-right: 16px;
			
			&::before { display: none; }
			&::after  { display: none; }
		}
	}
	
	// inputs 
	#search-tab-inputs {

		display: flex;
		padding: 0 16px;

		& > * {
			margin: 0 16px;
		}

		// airport picker
		.airport-picker {
			margin-bottom: 16px;
			flex-grow: 1;
		}

		// datepicker's calender
		.datepicker-calender {
			position: absolute;
			top: 100%;
			right: 0;
			margin-top: 48px;
			opacity: 0;
			box-shadow: 0px 0px 16px 2px rgba(0,0,0,0.1);
			border-radius: 4px;
			transition: margin-top 0.2s, opacity 0.2s;
			z-index: -10;
			pointer-events: none;
		
			&.open {
				pointer-events: auto;
				margin-top: 16px;
				opacity: 1;
			}
		}

		//date-picker
		#search-tab-datepicker {
			
			display: flex;
			align-items: center;
			justify-content: flex-start;
			
			border: solid darkgray 1px;
			padding: 15px 0;
			max-height: 56px;
			min-width: 200px;
			padding-right: 15px;
			margin-top: 16px;

			&:hover {
				background-color: white;
			}

			.datepicker-text {
				font-size: 16px;
				font-weight: 400;
				text-align: left;
				text-transform: none;
				max-height: 24px;
				padding: 0 24px 0 15px;
				color: rgb(60, 60, 60);
			}

			#datepicker-icon {
				margin-left: 15px;
			}

			#datepicker-divider {
				margin-right: 9px;
				width: 0;

				&::after {
					@include center-y(absolute);
					
					width: 1px;
					height: 36px;
					content: " ";
					display: block;
					background-color: gray;
				}
			}
		}

		// search button
		#search-button {
			@include theme-background;

			width: 56px;
			height: 56px;
			margin-top: 16px; 
		}
	}
}

#app-search #app-search-result {
	position: relative;
	margin-top: calc(264px + 64px);
	padding: 0 64px;
	display: flex;
	flex-direction: column;
	align-items: center;
}